.DS_Store
node_modules
/dist
cypress.config.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

cypress/screenshots/MERCHANT_create.cy.js/template spec -- 登入使用者帳號,創建特店資料與帳號 (failed).png
cypress/screenshots/testZipFile.cy.js/template spec -- passes (failed).png
cypress/screenshots/testZipFileA.cy.js/template spec -- passes (failed).png
cypress/screenshots/testZipFileB.cy.js/template spec -- passes (failed).png
package-lock.json
*.mp4
